In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

old = pd.read_csv("./Distant MRT/Locater/臺北市.csv", low_memory= False)
new = pd.read_csv("./Distant MRT/Locater/臺北市113.csv", low_memory= False)
df = pd.concat([old,new], ignore_index=True)
cordinate = pd.read_csv('./Distant MRT/Locater/queryed.csv', low_memory=False)
display(df.head(2))
display(cordinate.head(2))

,index,座落,棟及號,建案名稱,總價,交易日期,單價,總面積,主建物占比,型態,...,交易標的,建物格局,車位總價,主要用途,主要建材,解約情形,交易明細,功能,備註,Unnamed: 20
0,0,中正區仁愛路二段44號,A3-3F號,菁席,2590.0,112/12/20,159.2,20.59,53.72,bt06,...,2-1-2土2建1車1,NaN,280.0,住家用,鋼筋混凝土造,NaN,明細加入比較,Line,NaN,NaN
1,1,大同區重慶北路三段,A棟06號,當代一號院,2525.0,112/12/20,92.7,33.11,59.19,bt05,...,9-1-9土9建1車1,2房1廳1衛,320.0,住家用,鋼骨,NaN,明細加入比較同建案(基地),Line預售備查,NaN,NaN

       p_name              Address     Response_Address           x          y
0        30創富   臺北市萬華區菜園里12鄰康定路84號   臺北市萬華區菜園里12鄰康定路84號  121.502230  25.041989
1  55TIMELESS  臺北市信義區安康里9鄰信義路五段57號  臺北市信義區安康里9鄰信義路五段57號  121.569432  25.033321

In [2]:
df = df.drop(columns=["index","棟及號","功能","備註","交易明細"])

In [3]:
display(df.head(3))

,座落,建案名稱,總價,交易日期,單價,總面積,主建物占比,型態,樓別/棟高,交易標的,建物格局,車位總價,主要用途,主要建材,解約情形,Unnamed: 20
0,中正區仁愛路二段44號,菁席,2590.0,112/12/20,159.2,20.59,53.72,bt06,3/7,2-1-2土2建1車1,NaN,280.0,住家用,鋼筋混凝土造,NaN,NaN
1,大同區重慶北路三段,當代一號院,2525.0,112/12/20,92.7,33.11,59.19,bt05,7/16,9-1-9土9建1車1,2房1廳1衛,320.0,住家用,鋼骨,NaN,NaN
2,大同區承德路二段100號0棟A-04F號,廣宇日和,4198.0,112/12/20,104.9,49.79,63.42,bt05,4/15,24-1-24土24建1車1,3房2廳2衛,300.0,住家用,鋼骨造,NaN,NaN

In [4]:
## Information
output = pd.DataFrame()
output["p_name"] = df["建案名稱"].str.replace("資","").str.replace(" ","")
# 使用 str.split() 並展開到兩列，處理區分割
split_data = df["座落"].str.split("區", n=1, expand=True)
df["Address"] = "臺北市"+ df["座落"]
# 確保有兩列數據，再分別賦值給 'dist' 和 'address'
output["dist"] = split_data[0]  # 添加回 '區'
output["address"] = split_data[1].str.strip()  # 去除可能的前後空格
output["price"]=df["總價"]
try:
    output["price"]=output["price"].str.replace(",","").astype(float)
except:
    output["price"]=output["price"].astype(float)
output["tArea"]=df["總面積"].astype(float)
output["p_price"]=df["單價"].astype(float)
output["c_total"]=df["車位總價"]
display(df.head(),output.head())

,座落,建案名稱,總價,交易日期,單價,總面積,主建物占比,型態,樓別/棟高,交易標的,建物格局,車位總價,主要用途,主要建材,解約情形,Unnamed: 20,Address
0,中正區仁愛路二段44號,菁席,2590.0,112/12/20,159.2,20.59,53.72,bt06,3/7,2-1-2土2建1車1,NaN,280.0,住家用,鋼筋混凝土造,NaN,NaN,臺北市中正區仁愛路二段44號
1,大同區重慶北路三段,當代一號院,2525.0,112/12/20,92.7,33.11,59.19,bt05,7/16,9-1-9土9建1車1,2房1廳1衛,320.0,住家用,鋼骨,NaN,NaN,臺北市大同區重慶北路三段
2,大同區承德路二段100號0棟A-04F號,廣宇日和,4198.0,112/12/20,104.9,49.79,63.42,bt05,4/15,24-1-24土24建1車1,3房2廳2衛,300.0,住家用,鋼骨造,NaN,NaN,臺北市大同區承德路二段100號0棟A-04F號
3,中山區中山區新生里新生北路二段137巷1號旁,鼎吉中山,2600.0,112/12/20,112.5,23.12,57.97,bt05,6/15,16-1-16土16建1車0,2房1廳1衛,NaN,住家用,鋼筋混凝土造,NaN,NaN,臺北市中山區中山區新生里新生北路二段137巷1號旁
4,大安區復興南路一段175號旁,BR4,2445.0,112/12/19,182.0,13.43,56.16,bt05,10/13,2-1-2土2建1車0,1房1廳1衛,NaN,住家用,鋼骨造,NaN,NaN,臺北市大安區復興南路一段175號旁

  p_name dist              address   price  tArea  p_price  c_total
0     菁席   中正             仁愛路二段44號  2590.0  20.59    159.2    280.0
1  當代一號院   大同               重慶北路三段  2525.0  33.11     92.7    320.0
2   廣宇日和   大同    承德路二段100號0棟A-04F號  4198.0  49.79    104.9    300.0
3   鼎吉中山   中山  中山區新生里新生北路二段137巷1號旁  2600.0  23.12    112.5      NaN
4    BR4   大安          復興南路一段175號旁  2445.0  13.43    182.0      NaN

In [5]:
func = {'bt08':"Factory", 'bt':"Farmhouse", 'bt09':"Factory/Office", 'bt06':"Apartment_M",
 'bt04':"Office", 'bt10':"Farmhouse", 'bt03':"Store", 'bt05':"Condo", 'btZ':"Condo", 'bt07':"Studio", 'bt01':"Apartment_L"}
output["func"]= df["型態"].replace(func)

In [6]:
## Layout
output[["temp","bath"]] = df["建物格局"].str.replace("衛","").str.split("廳", expand=True).fillna(0)
output[["bedroom","room"]] = output["temp"].str.split("房", expand=True).fillna(0)
output.drop(columns=["temp"])

,p_name,dist,address,price,tArea,p_price,c_total,func,bath,bedroom,room
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,280.0,Apartment_M,0,0,0
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,320.0,Condo,1,2,1
2,廣宇日和,大同,承德路二段100號0棟A-04F號,4198.0,49.79,104.9,300.0,Condo,2,3,2
3,鼎吉中山,中山,中山區新生里新生北路二段137巷1號旁,2600.0,23.12,112.5,NaN,Condo,1,2,1
4,BR4,大安,復興南路一段175號旁,2445.0,13.43,182.0,NaN,Condo,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
26913,禾碩芝山綻,士林,德華里文林路,2864.0,35.25,105.0,320.0,Condo,1,2,2
26914,世達懿居,中正,南昌路二段,4570.0,37.98,126.7,220.0,Condo,2,3,1
26915,家騰真,內湖,康樂街136巷18弄12號,2710.0,42.07,78.5,220.0,Condo,2,2,1
26916,久年長慶,大同,重慶北路一段67號旁,2875.0,24.26,118.5,NaN,Condo,2,2,2
26917,久年長慶,大同,重慶北路一段67號旁,3487.0,30.15,121.0,170.0,Condo,2,2,2

In [7]:
df["主要建材"] = df["主要建材"].fillna("RC")
RC = ['RC造', 'RC造(供公眾使用建築物)', '混凝土造','見使用執照', '見其他登記事項','鋼筋混凝土加強磚造', '鋼筋混凝土造']
SC = ['SC鋼骨造','鋼構造','鋼造','鋼骨','鋼骨造SC','鋼骨造結構','鋼骨造(供公眾使用建築物)','鋼骨造']
SRC = ['RC造、鋼骨RC造','鋼骨RC造','鋼骨RC造、RC造', '鋼骨混凝土造','鋼骨造、鋼骨RC造', '鋼骨鋼筋混凝土造']
output["Material"]=df["主要建材"].replace(RC,"RC").replace(SC,"SC").replace(SRC,"SRC").replace('石造',"Stone").replace('磚造',"Brick")

In [8]:
## 交易標的
output[["temp","c_amount"]] = df["交易標的"].str.split("車", expand=True).fillna(0)
output[["temp","unit"]] = output["temp"].str.split("建", expand=True).fillna(0)
output['c_total'] = pd.to_numeric(output['c_total'], errors='coerce')
output['c_amount'] = pd.to_numeric(output['c_amount'], errors='coerce')
output['c_total'] = output['c_total'].fillna(0)
output['c_amount'] = output['c_amount'].replace(0, 1)
output[['bath', 'bedroom', 'room', 'c_amount','c_total', 'unit']] = (output[['bath', 'bedroom', 'room', 'c_amount','c_total', 'unit']].replace('', 0).fillna(0).astype(int))
output['c_price'] = output['c_total']/output['c_amount']
output.drop(columns=["temp"])

,p_name,dist,address,price,tArea,p_price,c_total,func,bath,bedroom,room,Material,c_amount,unit,c_price
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,280,Apartment_M,0,0,0,RC,1,1,280.0
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,320,Condo,1,2,1,SC,1,1,320.0
2,廣宇日和,大同,承德路二段100號0棟A-04F號,4198.0,49.79,104.9,300,Condo,2,3,2,SC,1,1,300.0
3,鼎吉中山,中山,中山區新生里新生北路二段137巷1號旁,2600.0,23.12,112.5,0,Condo,1,2,1,RC,1,1,0.0
4,BR4,大安,復興南路一段175號旁,2445.0,13.43,182.0,0,Condo,1,1,1,SC,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26913,禾碩芝山綻,士林,德華里文林路,2864.0,35.25,105.0,320,Condo,1,2,2,RC,1,1,320.0
26914,世達懿居,中正,南昌路二段,4570.0,37.98,126.7,220,Condo,2,3,1,RC,1,1,220.0
26915,家騰真,內湖,康樂街136巷18弄12號,2710.0,42.07,78.5,220,Condo,2,2,1,RC,1,1,220.0
26916,久年長慶,大同,重慶北路一段67號旁,2875.0,24.26,118.5,0,Condo,2,2,2,RC,1,1,0.0
26917,久年長慶,大同,重慶北路一段67號旁,3487.0,30.15,121.0,170,Condo,2,2,2,RC,1,1,170.0

In [9]:
# Replace empty strings or NaN with a default value (e.g., 0) before converting to int
display(df.head(2),output.head(2))

,座落,建案名稱,總價,交易日期,單價,總面積,主建物占比,型態,樓別/棟高,交易標的,建物格局,車位總價,主要用途,主要建材,解約情形,Unnamed: 20,Address
0,中正區仁愛路二段44號,菁席,2590.0,112/12/20,159.2,20.59,53.72,bt06,3/7,2-1-2土2建1車1,NaN,280.0,住家用,鋼筋混凝土造,NaN,NaN,臺北市中正區仁愛路二段44號
1,大同區重慶北路三段,當代一號院,2525.0,112/12/20,92.7,33.11,59.19,bt05,7/16,9-1-9土9建1車1,2房1廳1衛,320.0,住家用,鋼骨,NaN,NaN,臺北市大同區重慶北路三段

,p_name,dist,address,price,tArea,p_price,c_total,func,temp,bath,bedroom,room,Material,c_amount,unit,c_price
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,280,Apartment_M,2-1-2土2,0,0,0,RC,1,1,280.0
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,320,Condo,9-1-9土9,1,2,1,SC,1,1,320.0

In [10]:
## DateTime Traansform
tmp = pd.DataFrame()
output[["year","month","day"]] = df["交易日期"].str.split("/", expand=True).astype(int)
output["year"] = output["year"] +1911
output['date'] = output["year"].astype(str) + "/" + output["month"].astype(str) + "/" + output["day"].astype(str)
output['date'] = pd.to_datetime(output['date'], format='%Y/%m/%d')
output.head(2)

,p_name,dist,address,price,tArea,p_price,c_total,func,temp,bath,bedroom,room,Material,c_amount,unit,c_price,year,month,day,date
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,280,Apartment_M,2-1-2土2,0,0,0,RC,1,1,280.0,2023,12,20,2023-12-20
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,320,Condo,9-1-9土9,1,2,1,SC,1,1,320.0,2023,12,20,2023-12-20

In [11]:
#output = output.sort_values(by="price", ascending=False)
output["p_lot"]= output["c_amount"]
output.drop(columns=["temp","c_total","c_amount"],inplace = True)
output.head(3)

,p_name,dist,address,price,tArea,p_price,func,bath,bedroom,room,Material,unit,c_price,year,month,day,date,p_lot
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,Apartment_M,0,0,0,RC,1,280.0,2023,12,20,2023-12-20,1
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,Condo,1,2,1,SC,1,320.0,2023,12,20,2023-12-20,1
2,廣宇日和,大同,承德路二段100號0棟A-04F號,4198.0,49.79,104.9,Condo,2,3,2,SC,1,300.0,2023,12,20,2023-12-20,1

## Cleaning presale data in Taipei

In [13]:
output[["Fl","tFl"]] = df["樓別/棟高"].str.split("/", expand=True).fillna(0)
rp = {'13樓、14樓':"13","16至27樓":"16","一、二層":"1",'全棟':"1",'全':"1",0:"1"}
try:
    output["Fl"] = output["Fl"].replace(rp)
    output[["Fl","tFl"]] = output[["Fl","tFl"]].fillna(0).astype(int)
except:
    pass
output["P_mb"] = df["主建物占比"].astype(float)
output.head(3)

,p_name,dist,address,price,tArea,p_price,func,bath,bedroom,room,...,unit,c_price,year,month,day,date,p_lot,Fl,tFl,P_mb
0,菁席,中正,仁愛路二段44號,2590.0,20.59,159.2,Apartment_M,0,0,0,...,1,280.0,2023,12,20,2023-12-20,1,3,7,53.72
1,當代一號院,大同,重慶北路三段,2525.0,33.11,92.7,Condo,1,2,1,...,1,320.0,2023,12,20,2023-12-20,1,7,16,59.19
2,廣宇日和,大同,承德路二段100號0棟A-04F號,4198.0,49.79,104.9,Condo,2,3,2,...,1,300.0,2023,12,20,2023-12-20,1,4,15,63.42

In [14]:
cordinate.head(3)

       p_name              Address     Response_Address           x          y
0        30創富   臺北市萬華區菜園里12鄰康定路84號   臺北市萬華區菜園里12鄰康定路84號  121.502230  25.041989
1  55TIMELESS  臺北市信義區安康里9鄰信義路五段57號  臺北市信義區安康里9鄰信義路五段57號  121.569432  25.033321
2         BR4      臺北士林區舊佳里文林路584號  臺北市士林區舊佳里22鄰文林路582號  121.523874  25.098205

In [15]:
cordinate["Address"] = cordinate["Address"].apply(lambda x: x.split("鄰")[-1] if pd.notnull(x) else x)
cordinate["Address"] = cordinate["Address"].apply(lambda x: x.split("里")[-1] if pd.notnull(x) else x)
cordinate["Address"] = cordinate["Address"].apply(lambda x: x.split("區")[-1] if pd.notnull(x) else x)
display(cordinate.head(3))

       p_name   Address     Response_Address           x          y
0        30創富    康定路84號   臺北市萬華區菜園里12鄰康定路84號  121.502230  25.041989
1  55TIMELESS  信義路五段57號  臺北市信義區安康里9鄰信義路五段57號  121.569432  25.033321
2         BR4   文林路584號  臺北市士林區舊佳里22鄰文林路582號  121.523874  25.098205

In [16]:
# 進行左連接合併，根據 p_name 匹配 Address
output = output.merge(cordinate[["p_name", "Address","x","y"]], on="p_name", how="left")

# 更新後的 'Address' 列重新命名為 'address'
output["address"] = output["Address"]

# 刪除臨時生成的 'Address' 列
output.drop(columns=["Address"], inplace=True)

In [17]:
output.head(3)

,p_name,dist,address,price,tArea,p_price,func,bath,bedroom,room,...,year,month,day,date,p_lot,Fl,tFl,P_mb,x,y
0,菁席,中正,仁愛路二段43之1號,2590.0,20.59,159.2,Apartment_M,0,0,0,...,2023,12,20,2023-12-20,1,3,7,53.72,121.528968,25.038471
1,當代一號院,大同,重慶北路三段20號,2525.0,33.11,92.7,Condo,1,2,1,...,2023,12,20,2023-12-20,1,7,16,59.19,121.513452,25.064883
2,廣宇日和,大同,吉林路14巷7之1號,4198.0,49.79,104.9,Condo,2,3,2,...,2023,12,20,2023-12-20,1,4,15,63.42,121.529375,25.050622

In [18]:
distant = pd.read_csv("./Distant MRT/distant.csv", low_memory=False)
distant = distant[["p_name","dist_MRT","station"]]
output1 = pd.merge(output, distant, how="left", left_on =  "p_name", right_on = "p_name")
output1.head(3)

,p_name,dist,address,price,tArea,p_price,func,bath,bedroom,room,...,day,date,p_lot,Fl,tFl,P_mb,x,y,dist_MRT,station
0,菁席,中正,仁愛路二段43之1號,2590.0,20.59,159.2,Apartment_M,0,0,0,...,20,2023-12-20,1,3,7,53.72,121.528968,25.038471,270.074474,東門Dongmen
1,當代一號院,大同,重慶北路三段20號,2525.0,33.11,92.7,Condo,1,2,1,...,20,2023-12-20,1,7,16,59.19,121.513452,25.064883,124.768514,大橋頭Daqiaotou
2,廣宇日和,大同,吉林路14巷7之1號,4198.0,49.79,104.9,Condo,2,3,2,...,20,2023-12-20,1,4,15,63.42,121.529375,25.050622,419.319803,松江南京Songjiang Nanjing

In [19]:
output1.to_csv("train.csv", index= False)

In [22]:
test = output1[output1["year"]==2024]
test.to_csv("test.csv",index= False)